<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href="{% static 'css/create.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
	<link href="{% static 'css/user.css' %}" rel="stylesheet">
	<link href="{% static 'css/user-account.css' %}" rel="stylesheet">
	<link href="{% static 'css/component-statistics.css' %}" rel="stylesheet">
	<title>Sauer Savages</title>
</head>

<body>
	<!-- NAVIGATION -->
	<div id="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">Sauer Savages</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% if session %}
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'user' %}">Achieve</a></li>
						<li><a href="{% url 'create' %}">Create</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'user_account' %}">My Account</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'login' %}">Login</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		</nav>
	</div>

	<!-- CONTENT -->
    <div id="main">
		{% block content %}{% endblock content %}
    </div>
</body>
</html>
