{% extends "savages/base.html" %}
{% block content %}


<div class="create-body">
	<div class="create-block">
		<!-- Create -->
		<h1>Create</h1>

		<form method="post" class="create-add">
			{% csrf_token %}

			<label for="description">Description</label>
			<input type="text" name="description" value="" placeholder="Conquer the world" class="username" />

			<label for="points">Points</label>
			<input type="text" name="points" value="" placeholder="100.0" class="username" />

			<button type="submit" name="update">Add</button>
			<input type="hidden" name="achievementId" value={{x.id}}>
			<input type="hidden" name="actionType" value="ADD">
		</form>

		<div class="create-remove">
			<h1>Remove</h1>
			<ul>
				{% for x in achievements %}
					<form method="post">
						{% csrf_token %}
						<li>
							{{ x.points }}, {{ x.description }}
							<button type="submit" name="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>												
							<input type="hidden" name="achievementId" value={{x.id}}>
							<input type="hidden" name="actionType" value="REMOVE">
						</li>
					</form>
				{% endfor %}
			</ul> 
		</div>
	</div>
</div>


{% endblock content %}