{% extends "savages/base.html" %}
{% block content %}


<div class="login-body">
    <form method="POST" id="loginForm">
        {% csrf_token %}

        <div class="login-block">
            <h1>Login</h1>
            
            <!-- Authentication -->
            <input type="text" name="username" class="username" value="" placeholder="Username" id="username"/>
            <input type="password" name="password" class="password" value="" placeholder="Password" id="password"/>

            <!-- Actions -->
            <button type="submit" form="loginForm" value="Login">Submit</button>
            <a href="http://www.meatspin.com"><button type="button" id="signup">Sign Up</button></a>
            <a href="http://www.meatspin.com">Forgot Password?</a>
            
            <!-- Error -->
            {% if failed %}
                <div class="alert alert-danger invalid-login" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ failed }}
                </div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}